html {
    box-sizing: border-box;
    
}

*,
*::before,
*::after {
    box-sizing: inherit;
    /* border: 1px solid red; */
}

.title {
    color: darkslateblue;
    text-align: center;
    text-decoration: underline;
}

.container {
    background-color: white;
    color: black;
    font-size: 18px;
    font-family: "Lucida sans", 'Courier New', Courier, monospace, sans-serif;
    line-height: 30px;
    text-align: justify;
    padding: 30px;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
}

.responsive {
    max-width: 100%;
    height: auto;
}

.header {
    background-color: rgb(238, 213, 213);
    display: flex;
    justify-content: center;
    padding: 100px;
}


.chapati,
.beef,
.kachumbari {
    background-color: whitesmoke;
    display: flex;
    margin: 15px;
    justify-content: space-around;
    gap: 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    margin-top: 55px;
    background-color: rgb(238, 213, 213);
}