html {
    box-sizing: border-box;
    
}

*,
*::before,
*::after {
    box-sizing: inherit;
    /* border: 1px solid red; */
}

.title {
    color: darkslateblue;
    text-align: center;
    text-decoration: underline;
}

.container {
    background-color: rgb(243, 243, 222);
    color: black;
    font-size: 20px;
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    line-height: 30px;
    text-align: justify;
    padding: 30px;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
}

.responsive {
    max-width: 100%;
    height: auto;
}

.header {
    background-color: #ceceee;
    display: flex;
    justify-content: center;
    padding: 100px;
    font-size: larger;
}


.chapati,
.beef,
.kachumbari {
    background-color: whitesmoke;
    display: flex;
    margin: 15px;
    justify-content: space-around;
    gap: 10px;
}

.image,
.intro,
.recipe-link {
    flex: 1;
}

.image {
    flex: 1 1 0;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    margin-top: 55px;
    background-color: rgb(238, 213, 213);
}